.login-page {
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.login-container .login-title-container {
  margin-bottom: 4vh;
}

.login-container img {
  border-radius: unset;
  margin: auto;
  display: block;
  width: 150px;
  cursor: pointer;
}

.login-container p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 45px;
}

.login-container {
  margin: 30px;
}

.login-form {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.login-form--new-user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
  max-width: none;
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

mat-form-field input {
  vertical-align: super;
}

.form-footer {
  margin-top: 30px;
}

.form-footer button {
  cursor: pointer;
  display: block;
  margin: auto;
  width: 50%;
}

.prefix mat-icon {
  padding-left: 15px;
  padding-right: 7px;
}

.sign-up {
  text-align: center;
  margin-top: 30px;
}

.sign-up span {
  cursor: pointer;
}

.sign-up span:hover {
  text-decoration: underline;
}

.form-field span {
  display: block;
  padding-bottom: 10px;
}

.login-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.profile-image {
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 15px;
}

.profile-image-container {
  margin-bottom: 50px;
}

.inner-grid {
  display: grid;
  grid-template-columns: 200px 150px;
  gap: 25px;
}

.inner-grid mat-form-field {
  width: unset;
}