<ng-container *ngIf="(suspiciousUsers$ | async) as suspiciousUsers">

    <div class="dashboard-counters">

        <div class="dashboard-counters__item" id="suspiciousUsers">
            <div class="dashboard-counters__item-svg-container dashboard-counters__item-svg-container--users">
                <mat-icon>face</mat-icon>
            </div>
            <div class="dashboard-counters__item-text">
                <h1 class="dashboard-counters__item-count">
                    <span [countUp]="suspiciousUsers.length" [options]="countUpOptionsCounter"></span>
                </h1>
                <p class="dashboard-counters__item-description"># suspicious users</p>
            </div>
        </div>

        <div class="dashboard-counters__separator"></div>
        
        <div class="dashboard-counters__item" id="suspiciousUsersTrend">
            <div class="dashboard-counters__item-svg-container dashboard-counters__item-svg-container--users-trend">
                <mat-icon>face</mat-icon>
            </div>
            <div class="dashboard-counters__item-text">
                <h1 class="dashboard-counters__item-count">
                    <span [countUp]="suspiciousUsersPrecentege" [options]="countUpOptionsPrecentege"></span>
                </h1>
                <p class="dashboard-counters__item-description">% of suspicious Users</p>
            </div>
        </div>

        <div class="dashboard-counters__separator"></div>

        <div class="dashboard-counters__item" id="suspiciousStories">
            <div class="dashboard-counters__item-svg-container dashboard-counters__item-svg-container--stories">
                <mat-icon>book</mat-icon>
            </div>
            <div class="dashboard-counters__item-text">
                <h1 class="dashboard-counters__item-count">
                    <span [countUp]="suspiciousStoriesPrecentege" [options]="countUpOptionsPrecentege"></span>
                </h1>
                <p class="dashboard-counters__item-description">% of suspicious Stories</p>
            </div>
        </div>

        <div class="dashboard-counters__separator"></div>

        <div class="dashboard-counters__item" id="suspiciousComments">
            <div class="dashboard-counters__item-svg-container dashboard-counters__item-svg-container--comments">
                <mat-icon>comment</mat-icon>
            </div>
            <div class="dashboard-counters__item-text">
                <h1 class="dashboard-counters__item-count">
                    <span [countUp]="suspiciousCommentsPrecentege" [options]="countUpOptionsPrecentege"></span>
                </h1>
                <p class="dashboard-counters__item-description">% of suspicious Comments</p>
            </div>
        </div>
        
    </div>

    <div class="dashboard-counters__graphs">
        <div class="dashboard-counters__graph">
            <h2 class="title">% of suspicious Users Over Time</h2>
    
            <canvas baseChart height="250"
                    [datasets]="suspiciousUsersData"
                    [labels]="suspiciousUsersLabels"
                    [options]="suspiciousUsersOptions"
                    [colors]="suspiciousUsersColors" 
                    [legend]="suspiciousUsersLegend" 
                    [chartType]="suspiciousUsersType">
            </canvas>
        </div>
    
        <div class="dashboard-counters__graph">
            <h2 class="title">% of suspicious Users per Startup</h2>
    
            <canvas baseChart height="250"
                    [data]="startupsChartData"
                    [labels]="startupsChartLabels"
                    [options]="startupsChartOptions"
                    [colors]="startupsChartColors" 
                    [chartType]="startupsChartType"
                    [plugins]="startupsChartPlugins">
            </canvas>
        </div>
    </div>

    <div class="suspicious-users-table">

        <h2 class="title">Top Suspicious Users</h2>

        <table mat-table [dataSource]="suspiciousUsersDataSource" matSort>
        
            <ng-container matColumnDef="user_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
                <td mat-cell *matCellDef="let row"> {{row.user_name}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let row"> {{userFullDetailsMap.get(row.user_name)}} </td>
            </ng-container>
        
            <ng-container matColumnDef="start_up_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Up </th>
                <td mat-cell *matCellDef="let row"> {{row.start_up_name}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="suspiciousUsersDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: suspiciousUsersDisplayedColumns;"></tr>

        </table>

    </div>

</ng-container>

<mat-paginator matPaginator [pageSizeOptions]="[5, 10, 25, 50, 100, 250]" aria-label="Select page of users">
</mat-paginator>





<!-- <div class="dashboard-counters__separator"></div>

<div class="dashboard-counters__item" id="suspiciousStories">
    <div class="dashboard-counters__item-svg-container dashboard-counters__item-svg-container--stories">
    <mat-icon>book</mat-icon>
    </div>
    <div class="dashboard-counters__item-text">
        <h1 class="dashboard-counters__item-count">
            <span [countUp]="suspiciousStories" [options]="countUpOptionsCounter"></span>
        </h1>
        <p class="dashboard-counters__item-description">% suspicious stories</p>
    </div>
</div>

<div class="dashboard-counters__separator"></div>

<div class="dashboard-counters__item" id="suspiciousComments">
    <div class="dashboard-counters__item-svg-container dashboard-counters__item-svg-container--comments">
            <mat-icon>speaker_notes</mat-icon>
    </div>
    <div class="dashboard-counters__item-text">
        <h1 class="dashboard-counters__item-count">
            <span [countUp]="suspiciousComments" [options]="countUpOptionsCounter"></span>
        </h1>
        <p class="dashboard-counters__item-description">% suspicious comments</p>
    </div>
</div> -->

<mat-card *ngIf="isLoading" class="mat-progress-spinner">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="70"></mat-progress-spinner>
</mat-card>