<app-toolbar></app-toolbar>

<div class="main-section" [@fadeInOnEnter] [@fadeOutOnLeave]>

    <mat-form-field appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
    </mat-form-field>

    <div class="table" *ngIf="(warningNotifications$ | async) as warningNotifications">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortActive="id"
            matSortDisableClear matSortDirection="asc">

            <ng-container matColumnDef="user_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="user_id"> user </th>
                <td mat-cell *matCellDef="let row"> {{row.user_id}} </td>
            </ng-container>

            <ng-container matColumnDef="identify_date">
                <th mat-header-cell *matHeaderCellDef> identify date </th>
                <td mat-cell *matCellDef="let row"> {{row.identify_date}} </td>
            </ng-container>

            <ng-container matColumnDef="warning_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="warning_type"> warning type </th>
                <td mat-cell *matCellDef="let row" [innerHTML]="getWarningType(row.warning_id)"></td>
            </ng-container>

            <ng-container matColumnDef="warning_message">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="warning_message"> warning message </th>
                <td mat-cell *matCellDef="let row" [innerHTML]="getWarningMessage(row.warning_id)"></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 15, 25, 50, 100, 250]" aria-label="Select page of users"></mat-paginator>
    </div>

</div>