<div class="reset-page">
    <div class="reset-container" [@fadeInOnEnter]>
        <div class="reset-title-container">
            <img [src]="logo" class="logo" [routerLink]="'/home'" />
        </div>

        <form [formGroup]="formGroup" class="reset-form" autocomplete="off">
            <mat-form-field>
                <span class="prefix" matPrefix>
                    <mat-icon>account_circle</mat-icon>
                </span>
                <mat-label class="username">username</mat-label>
                <input matInput formControlName="username" autocomplete="off" spellcheck="false" />
                <mat-error *ngIf="hasError('username', 'required')">username is required</mat-error>
            </mat-form-field>
        </form>

        <div class="form-footer">
            <button mat-raised-button (click)="submit()" color="primary" [disabled]="!formGroup.valid">
                Reset
            </button>
        </div>
    </div>
</div>