<app-toolbar></app-toolbar>

<div class="main-section" [@fadeInOnEnter] [@fadeOutOnLeave]>

    <ng-container *ngIf="(suspiciousUsers$ | async) as suspiciousUsers">

        <div class="grid">

            <h1>Send block/warning notification</h1>
            
            <section class="warningForm">
                <div class="inputs-container">
                    <form [formGroup]="warningForm" autocomplete="new-phone" novalidate fxLayout="column wrap"
                        fxLayoutAlign="center center" fxLayoutGap="10px">
            
                        <div class="form-inputs-wrapper">
                            
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input type="text" matInput formControlName="user_id" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>

                                <mat-error *ngIf="warningFormHasError('user_id', 'required')">username is required</mat-error>
                            </mat-form-field>
    
                            <mat-form-field>
                                <mat-label>Warning</mat-label>
                                <mat-select formControlName="warning_id" required>
                                    <mat-option *ngFor="let type of warningNotificationsTypes" [value]="type.warning_id">
                                        {{type.warning_type}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="warningFormHasError('warning_id', 'required')">warning is required</mat-error>
                            </mat-form-field>
        
                        </div>
                    </form>
            
                    <button class="submit-btn" mat-raised-button (click)="submit()" color="primary"
                        [disabled]="!!warningForm && !warningForm.valid">
                        Submit
                    </button>
                </div>
            </section>
            
        </div>


    </ng-container>

</div>

<mat-card *ngIf="isLoading" class="mat-progress-spinner">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</mat-card>