:host {
    display: block;
    font-size: var(--font-size-14);
}

.dashboard {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__tag {
        margin-right: 1.8rem;
        background: var(--avatar-blue-dark);
        color: var(--hacker-news-white);
        font-weight: 700;
        line-height: var(--line-height-sm);
        letter-spacing: 2px;
        padding: 7px 14px;
        border-radius: 4px;
    }

    &__counters {
        margin: 2rem auto;
    }

    &__graphs {
        display: grid;
        grid-template-columns: auto min-content;
        grid-template-rows: auto auto;
        grid-gap: 2.8rem 2.6rem;
    }

    &__graph {
        background-color: var(--hacker-news-white);
        border-radius: var(--border-radius-10);
        box-shadow: var(--box-shadow-normal);
        padding: 2.5rem 3.2rem;
    }

    &__requests-by-status-graph {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    &__requests-by-location-graph {
        display: flex;
        grid-column: 2/3;
        grid-row: 1/2;
        flex-direction: column;
        justify-content: center;
        width: 41.6rem;
    }

    &__incoming-requests-graph {
        margin-bottom: 6.3rem;
        grid-column: 1/-1;
        grid-row: 2/3;
    }
}

.date-range {
    width: 300px;
}